/* index.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
}

/* THEME */
body.light {
  background-color: #f8fafc;
  color: #0f172a;
}

body.dark {
  background-color: #0f172a;
  color: #f8fafc;
}
